@import "../assets/moon/style.css";

:root {
  --app-inner-size: 1280px;
  --header-height:104px;
  --primary-color: #017B32;

  --extra-light-gray: #F3F3F3;
  --gray-light: #828282CC;
  --gray-dark: #7D7D7D;

  --padding-card: 20px;
  --spacer-1: 10px;
  --spacer-2: 20px;
  --spacer-3: 25px;
  --card-title-size:clamp(1.2rem,4vw,1.8rem);
  --card-desc-size: clamp(1.2rem,4vw,1.6rem);
  --section-title-size: clamp(1.6rem,4vw,2.4rem);
  --section-desc-size: clamp(1.6rem,4vw,1.8rem);


  --body-size: clamp(1rem,4vw,1.4rem);
  --font-main:"Tajawal", sans-serif;;
  --padding-section:30px;
}

html {scroll-behavior: smooth;}
body {font-family: var(--font-main);line-height: 1.4;}


/*general styles */
main {position: relative;z-index: 1;min-height: 80vh;}
.section {padding: var(--padding-section) 0;}
.section:last-child {padding-bottom: calc(var(--padding-section) * 2);}
.card {/* overflow: hidden; */}
.card-inner > * + * {margin-top: var(--spacer-1);}
.card-title {font-size: var(--card-title-size);}
.card-desc {font-size: var(--card-desc-size);color: var(--gray-light);}
/*common styles*/
.app-wrapper {width: var(--app-inner-size);max-width: 100%;margin: 0 auto;}
.primary-button {width: fit-content;padding: 7px 10px;border: 1.5px solid var(--primary-color);font-size: clamp(1.4rem, 4vw, 1.6rem);min-width: 120px;font-weight: 600;color: var(--primary-color);}
.secondary-button {padding: 6px 10px;background: white;font-size: clamp(1.4rem, 4vw, 1.6rem);color: black;min-width: 120px;font-weight: 600;border: 1px solid var(--gray-light);}
.page-header {position: relative;min-height: 220px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.page-header:before {content: "";position: absolute;inset: 0;background-image: url("../assets/images/aboutus.png");background-repeat: no-repeat;background-position: center;background-size: cover;}
.page-header .app-wrapper {z-index: 1;position: relative;color: white;}
.page-header__title {font-size: var(--page-header-size);margin-bottom: var(--spacer-3);}
.breadcrumbs {--gap: 8px;display: flex;align-items: center;gap: var(--gap);color: white;font-weight: 500;}
.breadcrumbs .breadcrumb__item:last-child a {pointer-events: none;font-weight: 800}
.breadcrumb__item:not(:last-child):after {content: ".";display: inline-block;margin-inline-start: calc(var(--gap));}
.lg-item {inset: 0;}
.section-title {font-size: var(--section-title-size);margin-bottom: var(--spacer-3);font-weight: 600;position: relative;width: fit-content;}
.section-title:after {content: "";position: absolute;bottom: -5px;right: 0;left: -10%;height: 20px;background: #017b3230;}
.section-description {font-size: var(--section-desc-size);margin-bottom: var(--spacer-2);color: var(--gray-dark);font-weight: 500}
.body-text {line-height: 1.6;color: var(--gray-dark);font-weight: 500;}
.cards-wrapper {display: grid;grid-template-columns: repeat(auto-fill, minmax(calc(var(--app-inner-size) / var(--grid-columns) - var(--spacer-2)), 1fr));gap: var(--spacer-2);}


/*header*/
.header {position: sticky;top: 0;z-index: 3;}
.header-top {background-color: var(--primary-color);}
.header-top-links {display: flex;align-items: center;justify-content: end;gap: 30px;}
.header-top-links >  a {padding-block: 10px;color: white;}
.nav-list {display: flex;align-items: center;justify-content: space-between;height: 100%;gap: 40px;}
.nav-wrapper {box-shadow: 0 2px 2px #0000001a;background: white;min-height: 62px;position: relative;}
.nav-list__item:has(img) a {padding: 0;}
.nav-list__item.logo {position: absolute;background: white;bottom: 0; /* min-height: 99px; */padding: 8px;display: flex;align-items: center;justify-content: center;}
.nav-wrapper .app-wrapper {height: 100%;position: absolute;inset: 0;}
.nav {height: 100%;}
.nav-list__item.logo + * {margin-inline-start: auto;}
.nav-list__item a {padding: 10px;font-weight: 500;}
.nav-list__item:last-child a {padding-inline-end: 0;}




.section-hero {}
.section-hero .swiper-wrapper {height: calc(100vh - var(--header-height));}
.section-hero .swiper-slide {display: flex;align-items: center;justify-content: center;}
.section-hero .swipe-item {width: 100%;height: 100%;display: flex;align-items: center;}
.section-hero .picture {position: absolute;left: 0;top: 0;bottom: 0;width: 40%;}
.section-hero .swipe-content {max-width: 500px;margin-inline-start: calc((100vw - var(--app-inner-size)) / 2);}
.section-hero .picture img {height: 100%;width: 100%;object-fit: cover;}
.section-hero .swiper-pagination-bullet {width: 12px;height: 12px;}
.section-hero .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color: var(--primary-color);}



.section-services {--grid-columns: 3;}
.section-services .card {border: 1px solid var(--extra-light-gray);padding: var(--padding-card);display: flex;flex-direction: column;align-items: center;gap: var(--spacer-1);text-align: center;transition:border-color .4s;}
.section-services .card:hover {border-color:var(--primary-color);}
.section-services .card-img img {width: 99px;}



.section-projects {--grid-columns: 4;}
.section-projects .section-description {color: var(--gray-dark);}
.section-projects .card {gap:0;align-items: start;text-align: start;padding: 0;overflow: hidden;}
.section-projects .card-inner {padding: var(--padding-card);}
.section-projects .card-number {font-size: 5rem;line-height: 1;color: #017b3221;font-weight: 500;}
.section-projects .card-img {aspect-ratio: 4 / 3;}
.section-projects .line {height: 2px;background: var(--extra-light-gray);display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;}
.section-projects .line:after {content: "";display: block;height: 2px;background: linear-gradient(  to right,  rgba(1, 123, 50, 0.5) 0%,  rgba(1, 123, 50, 1) 31%,  rgba(1, 123, 50, 1) 70%,  rgba(1, 123, 50, 0.5) 100%);}
.section-projects .card:nth-child(2) .line:after {grid-column: 1 / 2;}
.section-projects .card:nth-child(2) .line:after {grid-column: 2 / 3;}
.section-projects .card:nth-child(3) .line:after {grid-column: 3 / 4;}
.section-projects .card:nth-child(4) .line:after {grid-column: 4 / 5;}
.section-projects .card {border: 1px solid var(--extra-light-gray);transition: .4s}
.section-projects .card:hover {border-color:var(--primary-color);}




.section-stories {position: relative;min-height: 650px;margin-block: var(--padding-section);}
.section-stories .bg-img {position: absolute;inset: 0;}
.section-stories .app-wrapper {z-index: 1;position: relative;height: 100%;}
.section-stories .section-wrapper {display: flex;gap: 20px;align-items: center;height: 100%;}
.section-stories .bg-img:after {content: "";position: absolute;inset: 0;background: #017b3212;}
.section-stories .bg-img img {opacity: 0.1;height: 100%;width: 100%;object-fit: cover;}
.section-stories .stories-wrapper {/* display: flex; *//* flex-wrap: wrap; *//* gap: 30px; *//* width: 80%; */}
.section-stories .story {--ratio:1.5;position: relative;padding: 20px 50px 20px 20px;flex-grow: 1;background: white;box-shadow: 0 0 10px #00000047;}
.section-stories .avatar-wrapper img {width: 60px;height: 60px;border-radius: 50%;outline: 2px solid var(--primary-color);outline-offset: -2px;}


.section-stories .story > * + * {margin-top: 10px;display: block;}
.section-stories .story-location {color: var(--primary-color);margin-top: 0}
.section-stories .avatar-wrapper {width: fit-content;position: absolute;right: -30px;top: 24px;}


/*.story:nth-child(1), .story:nth-child(4) {width: calc(40% - var(--spacer-2));}*/
/*.story:nth-child(2), .story:nth-child(3) {width: calc(60% - var(--spacer-2));}*/

.section-stories .column-stories {display: flex;flex-direction: column;gap: var(--spacer-2);}
.section-stories .stories-wrapper {position: absolute;left: 0;top: 0;width: 50%;display: flex;gap: 60px;}
.section-stories .section-details {max-width: 430px;}
.section-stories .section-details .section-description {color: black}
.section-stories .column-stories:nth-child(1) .story:nth-child(2) {min-width: calc(100% * var(--ratio));transform: translateX(calc(100% / (var(--ratio) * 2) ));}
.section-stories .column-stories:nth-child(2) .story:nth-child(1) {min-width: calc(100% * var(--ratio));}
.section-stories .column-stories:nth-child(1) .story:nth-child(1), .section-stories .column-stories:nth-child(2) .story:nth-child(2) {min-height: 350px;}
.section-stories .section-stories-inner {position: absolute;inset: 0;}
.section-stories .column-stories:first-child {transform: translateY(60px);}
.section-stories .column-stories:last-child {transform: translateY(-20px);}






.section-stats .section-wrapper {display: flex;align-items: center;}
.section-stats .section-wrapper > * {flex: 1;}
.section-stats .section-wrapper {display: flex;align-items: center;}
.section-stats .section-wrapper > * {flex: 1;}
.section-stats .stats-cards {display: grid;grid-template-columns: 1fr 1fr;gap: var(--spacer-2);}
.section-stats .stats-cards .card {aspect-ratio: 1 / 1;display: flex;flex-direction: column;align-items: center;justify-content: center;position: relative;box-shadow: 0 0 10px #e6e6e6e6;border-radius: var(--radius-1);}
.section-stats .stats-cards .card img {position: absolute;top: 0;right: 0;}
.section-stats .card-number {font-size: 8rem;font-weight: 600;color: var(--primary-color);line-height: 1;}
.section-stats .section-description {max-width: 90%;}





.news-section {--grid-columns: 3;--spacer-2: 40px;}
.news-section .card {position: relative;}
.news-section .card-inner {position: absolute;bottom: -40px;background: #ffffffe3;left: -20px;width: 90%;padding: 20px;backdrop-filter: blur(2px);box-shadow: 0 0 10px #0000004d;}
.news-section .card-desc {color: var(--gray-dark);}
.news-section .date {background-color: var(--primary-color);padding: 5px 10px;color: white;}
.news-section .card-inner-row {display: flex;align-items: center;justify-content: space-between}
.news-section .card-inner-row .location-tag {color: var(--gray-light)}


.media-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card:nth-child(1) {}
