@import "../assets/moon/style.css";

:root {
  --app-inner-size: 1280px;
  --header-height:104px;
  --primary-color: #017B32;
  --shadow-section:  0 4px 5px #00000014;
  --shadow-footer:0 0 10px #0000002b;

  --extra-light-gray: #F3F3F3;
  --gray-light: #828282CC;
  --gray-dark: #7D7D7D;

  --grid-columns:3;
  --padding-card: 20px;
  --spacer-1: 10px;
  --spacer-2: 20px;
  --spacer-3: 25px;
  --card-title-size:clamp(1.2rem,4vw,1.8rem);
  --card-desc-size: clamp(1.2rem,4vw,1.6rem);
  --section-title-size: clamp(1.6rem,4vw,2.4rem);
  --section-desc-size: clamp(1.6rem,4vw,1.8rem);
  --page-header-size: clamp(1.8rem, 4vw, 2.2rem);
  --breadcrumbs-size: clamp(1.2rem, 4vw, 1.5rem);


  --body-size: clamp(1rem,4vw,1.4rem);
  --font-main:"Tajawal", sans-serif;;
  --padding-section:35px;
}

html {scroll-behavior: smooth;}
body {font-family: var(--font-main);line-height: 1.4;font-size: clamp(1.2rem,4vw,1.6rem);font-weight: 500}


/*general styles */
main {position: relative;z-index: 1;min-height: 80vh;}
.section {padding: var(--padding-section) 0;}
.card-inner > * + * {margin-top: var(--spacer-1);}
.card-title {font-size: var(--card-title-size);}
.card-desc {font-size: var(--card-desc-size);color: var(--gray-light);}
/*common styles*/
.app-wrapper {width: var(--app-inner-size);max-width: 100%;margin: 0 auto;}
.page-header {position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 0 0 10px #00000026;}
.page-header:before {content: "";position: absolute;inset: 0;background-image: url("../assets/images/aboutus.png");background-repeat: no-repeat;background-position: center;background-size: cover;}
.page-header .app-wrapper {z-index: 1;position: relative;}
.page-header__title {font-size: var(--page-header-size);margin-bottom: var(--spacer-1);line-height: 1}
.breadcrumbs {--gap: 8px;font-size: clamp(1.2rem, 4vw, 1.5rem);display: flex;align-items: center;gap: var(--gap);color: black;font-weight: 500;font-size: var(--breadcrumbs-size)}
.breadcrumbs .breadcrumb__item:last-child a {pointer-events: none;font-weight: 800}
.breadcrumb__item:not(:last-child):after {content: "/";display: inline-block;margin-inline-start: calc(var(--gap));}
.lg-item {inset: 0;}
.section-title {font-size: var(--section-title-size);margin-bottom: var(--spacer-3);font-weight: 600;position: relative;width: fit-content;}
.homepage .section-title:after {content: "";position: absolute;bottom: -5px;right: 0;left: -10%;height: 20px;background: #017b3230;}
.section-description {font-size: var(--section-desc-size);margin-bottom: var(--spacer-2);color: var(--gray-dark);font-weight: 500}
.cards-wrapper {display: grid;grid-template-columns: repeat(auto-fill, minmax(calc(var(--app-inner-size) / var(--grid-columns) - var(--spacer-2)), 1fr));gap: var(--spacer-2);}
.section-header {display: flex;align-items: center;justify-content: space-between;margin-bottom: var(--spacer-1);}
.section-header .section-title {margin-bottom: 0}

.inner-page .section-title {color: var(--primary-color);margin-bottom: var(--spacer-1);--section-title-size: clamp(1.8rem,4vw,2rem);}
.body-text {font-weight: 300;}
.bold {font-weight: 600;color: var(--primary-color);}
main {display: flex;flex-direction: column;}
.section-social {margin-top: auto;}


/*.inner-page .section {box-shadow: var(--shadow-section);}*/

.section:last-child {box-shadow: unset;}

.main-social-list.footer {position: static;flex-direction: row;}
.main-social-list.footer .social-item a {box-shadow: unset;border: 1px solid #017b3269;}
.main-social-list.footer .social-item a *[class^="icon"] {color: var(--primary-color);}
.main-social-list.footer .social-item a:hover *[class^="icon"]:first-child {color: white;}
.section-social .section-social-inner {display: flex;align-items: center;gap: var(--spacer-3);}
.section-social .section-social-inner .subtitle {color: var(--primary-color);}


.pagination {display: flex;align-items: center;gap: 30px;justify-content: center;margin-top: 50px;}
.pagination .page-link {width: 40px;aspect-ratio: 1;display: flex;align-items: center;justify-content: center;color: var(--primary-color);}
.pagination .page-item.active {background: #017b322b;}
.pagination .page-item:hover {background: #017b322b;}
.pagination .page-item {border-radius: 4px;transition: .4s}



.button {text-align: center;overflow: hidden;position: relative;width: fit-content;padding: 7px 10px;color: white;font-size: clamp(1.4rem, 4vw, 1.6rem);min-width: 120px;font-weight: 600;background-color: var(--primary-color);}
.secondary-button {border: 1.5px solid var(--primary-color);background-color: white;color: var(--primary-color);}


.button .button-text-wrapper {display: flex;flex-direction: column;;align-items: center;justify-content: center;}
.button .button-text.clone {position: absolute;transform: translateY(140%);transition: .4s;}
.button .button-text.original {transition: .4s;}
.button:hover .button-text.original {transform: translateY(-130%);}
.button:hover .button-text.clone {transform: translateY(0);}




/*header*/
.header {position: sticky;top: 0;z-index: 3;}
.header-top {background-color: var(--primary-color);}
.header-top-links {display: flex;align-items: center;justify-content: end;gap: 30px;}
.header-top-links >  a {padding-block: 10px;color: white;}
.nav-list {display: flex;align-items: center;justify-content: space-between;height: 100%;gap: 40px;}
.nav-wrapper {box-shadow: 0 2px 2px #0000001a;background: white;min-height: 62px;position: relative;}
.nav-list__item:has(img) a {padding: 0;}
.nav-list__item.logo {box-shadow: 3px -1px 4px #0000001f;position: absolute;background: white;bottom: 0; /* min-height: 99px; */padding: 8px;display: flex;align-items: center;justify-content: center;}
.nav-wrapper .app-wrapper {height: 100%;position: absolute;inset: 0;}
.nav {height: 100%;}
.nav-list__item.logo + * {margin-inline-start: auto;}
.nav-list__item a {position:relative;padding: 10px;font-weight: 500;transition: .4s;}
.nav-list__item > a:hover {color: var(--primary-color);}
.nav-list__item:not(.logo) a:after{content: "";position: absolute;bottom: 0em;right: 0;width: 100%;height: 0.125em;background: var(--primary-color);transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);transform-origin: left;transform: scaleX(0) rotate(0.001deg);border-radius: 0.125em;}
.nav-list__item > a:hover:after{transform-origin: right;transform: scaleX(1) rotate(0.001deg);}
.nav-list__item:last-child a {padding-inline-end: 0;}
.donation-link {padding-inline-end: calc((100vw - var(--app-inner-size)) / 2 - 8.5px);padding-inline-start: 30px;box-shadow: 10px 0 10px #00000012;background: #0D9243;}

.nav-list__item.dropdown > a:before {content: "";border: solid currentColor;border-width: 0 2px 2px 0;display: inline-block;padding: 3px;transform: rotate(45deg);}
.nav-list__item.dropdown > a {display: flex;flex-direction: row-reverse;align-items: center;gap: 6px;}
.drop-down-nav {position: absolute;background: #0d9243;min-width: 170px;transform: scaleY(0);transform-origin: top;opacity: 0;pointer-events: none;transition: opacity 0.6s ease, transform 0.2s ease;border-radius: 10px;box-shadow: 0 0 10px #fff;overflow: hidden;}
.nav-list__item.dropdown {position: relative;}
.nav-list__item.dropdown:hover .drop-down-nav{transform: scaleY(1);opacity: 1;pointer-events: all;}
.list-item-nav a {}
.nav-list__item.dropdown a:after {content: unset;}
.list-item-nav > a {text-align: center;width: 100%;color: white;padding: 12px 10px;transition: .4s;font-weight: 500;}
.list-item-nav:not(:last-child) > a {border-bottom: 1px solid;border-image: linear-gradient(90deg, hsla(0, 0%, 86%, 0), #ddffeb 20%, #ddffeb 50%, #ddffeb 80%, hsla(0, 0%, 86%, 0)) 0 0 1 0}
.list-item-nav > a:hover {background-color: #00a743b8;}




.main-social-list {position: fixed;left: 5px;top: clamp(var(--header-height),36vh, 170px);z-index: 4;display: flex;flex-direction: column;gap: 10px;}
.main-social-list .social-item a {display: flex;align-items: center;justify-content: center;width: 40px;height: 40px;background-color: white;position: relative;overflow: hidden;transition: .5s;box-shadow: 0 0 10px #00000040;}
.main-social-list .social-item.search a, .social-item.language a{background: var(--primary-color);color: white;font-weight: 500;}
.main-social-list .social-item a *[class^="icon"] {position:absolute;left: 50%;transition: .3s;transform: translateX(-50%);}
.main-social-list .social-item a *[class^="icon"]:first-child {left: -48%;}
.main-social-list :is(.social-item.search , .social-item.language) a:hover {background:white;color:var(--primary-color);}
.main-social-list :is(.social-item.search , .social-item.language) a:hover span{color:var(--primary-color);}
.main-social-list .social-item a:hover {background-color: var(--primary-color);color: white;}
.main-social-list .social-item a:hover *[class^="icon"]:first-child {left: 50%;transform: translateX(-50%);}
.main-social-list .social-item a:hover *[class^="icon"]:last-child {left: 130%;}
.main-social-list .social-item.search span {color: white;}




.video-wrapper {width: 100%;height: calc(100vh - var(--header-height));}
.video {width: 100%;height: 100%;object-fit: cover;}


.section-hero .swiper-wrapper {height: calc(85vh - var(--header-height));}
.section-hero .swiper-slide {display: flex;align-items: center;justify-content: center;}
.section-hero .swipe-item {width: 100%;height: 100%;/* display: flex; *//* align-items: center; */position: relative;}
.section-hero .picture {position: absolute;left: 0;top: 0;bottom: 0;width: 50%;}
.section-hero .swipe-content {/* max-width: 500px; *//* margin-inline-start: calc((100vw - var(--app-inner-size)) / 2); */}
.section-hero .picture img {height: 100%;width: 100%;object-fit: cover;}
.section-hero .swiper-pagination-bullet {width: 12px;height: 12px;}
.section-hero .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color: var(--primary-color);}
.section-hero .swipe-item:after {content: "";position: absolute;background-image: url(../assets/images/mask2.svg);background-repeat: no-repeat;background-size: cover;width: 500px;height: 730px;top: -12px;bottom: 0;right: 36vw;}
.section-hero .swipe-content {display: flex;align-items: start;justify-content: center;flex-direction: column;height: 100%;padding-inline-start: calc((100vw - var(--app-inner-size)) / 2 - 7.5px);max-width: 800px;}
.section-hero .swipe-title.section-title {}
.section-hero .swipe-content-inner > * {max-width: 700px;flex: 1;}
.section-hero .swipe-content-inner {z-index: 1;}


.section-services {--grid-columns: 3;}
.section-services .card > a {border: 1px solid var(--extra-light-gray);padding: var(--padding-card);display: flex;flex-direction: column;align-items: center;gap: var(--spacer-1);text-align: center;transition:border-color .4s;}
.section-services .card > a:hover {border-color:var(--primary-color);}
.section-services .card-img img {width: 99px;}



.section-projects {--grid-columns: 4;}
.section-projects .section-description {color: var(--gray-dark);}
.section-projects .card {gap:0;align-items: start;text-align: start;padding: 0;overflow: hidden;}
.section-projects .card-inner {padding: var(--padding-card);}
.section-projects .card-number {font-size: 5rem;line-height: 1;color: #017b3221;font-weight: 500;}
.section-projects .card-img {aspect-ratio: 4 / 3;}
.section-projects .line {height: 2px;background: var(--extra-light-gray);display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;}
.section-projects .line:after {content: "";display: block;height: 2px;background: linear-gradient(  to right,  rgba(1, 123, 50, 0.5) 0%,  rgba(1, 123, 50, 1) 31%,  rgba(1, 123, 50, 1) 70%,  rgba(1, 123, 50, 0.5) 100%);}
.section-projects .card:nth-child(2) .line:after {grid-column: 1 / 2;}
.section-projects .card:nth-child(2) .line:after {grid-column: 2 / 3;}
.section-projects .card:nth-child(3) .line:after {grid-column: 3 / 4;}
.section-projects .card:nth-child(4) .line:after {grid-column: 4 / 5;}
.section-projects .card {border: 1px solid var(--extra-light-gray);transition: .4s}
.section-projects .card:hover {border-color:var(--primary-color);}




.section-stories {position: relative;min-height: 650px;margin-block: var(--padding-section);margin-top: 55px;}
.section-stories .bg-img {position: absolute;inset: 0;}
.section-stories .app-wrapper {z-index: 1;position: relative;height: 100%;}
.section-stories .section-wrapper {display: flex;gap: 20px;align-items: center;height: 100%;}
.section-stories .bg-img:after {content: "";position: absolute;inset: 0;background: #017b3212;}
.section-stories .bg-img img {opacity: 0.1;height: 100%;width: 100%;object-fit: cover;}
.section-stories .stories-wrapper {/* display: flex; *//* flex-wrap: wrap; *//* gap: 30px; *//* width: 80%; */}
.section-stories .story {--ratio:1.5;position: relative;padding: 20px 50px 20px 20px;flex-grow: 1;background: white;box-shadow: 0 0 10px #00000047;}
.section-stories .avatar-wrapper img {width: 60px;height: 60px;border-radius: 50%;outline: 2px solid var(--primary-color);outline-offset: -2px;}


.section-stories .story > * + * {margin-top: 10px;display: block;}
.section-stories .story-location {color: var(--primary-color);margin-top: 0}
.section-stories .avatar-wrapper {width: fit-content;position: absolute;right: -30px;top: 24px;}


/*.story:nth-child(1), .story:nth-child(4) {width: calc(40% - var(--spacer-2));}*/
/*.story:nth-child(2), .story:nth-child(3) {width: calc(60% - var(--spacer-2));}*/

.section-stories .column-stories {display: flex;flex-direction: column;gap: var(--spacer-2);}
.section-stories .stories-wrapper {transform: translateX(145px);position: absolute;left: 0;top: 0;width: 50%;display: flex;gap: 60px;}
.section-stories .section-details {max-width: 430px;}
.section-stories .section-details .section-description {color: black}
.section-stories .column-stories:nth-child(1) .story:nth-child(2) {min-width: calc(100% * var(--ratio));transform: translateX(calc(100% / (var(--ratio) * 2) ));}
.section-stories .column-stories:nth-child(2) .story:nth-child(1) {min-width: calc(100% * var(--ratio));}
.section-stories .column-stories:nth-child(1) .story:nth-child(1), .section-stories .column-stories:nth-child(2) .story:nth-child(2) {min-height: 350px;}
.section-stories .section-stories-inner {position: absolute;inset: 0;}
.section-stories .column-stories:first-child {transform: translateY(60px);}
.section-stories .column-stories:last-child {transform: translateY(-20px);}






.section-stats .section-wrapper {display: flex;align-items: center;}
.section-stats .section-wrapper > * {flex: 1;}
.section-stats .section-wrapper {display: flex;align-items: center;}
.section-stats .section-wrapper > * {flex: 1;}
.section-stats .stats-cards {display: grid;grid-template-columns: 1fr 1fr;gap: var(--spacer-2);}
.section-stats .stats-cards .card {aspect-ratio: 1 / 1;display: flex;flex-direction: column;align-items: center;justify-content: center;position: relative;box-shadow: 0 0 10px #e6e6e6e6;border-radius: var(--radius-1);}
.section-stats .stats-cards .card img {position: absolute;top: 0;right: 0;}
.section-stats .card-number {min-width:200px;text-align: center;font-size: 8rem;font-weight: 600;color: var(--primary-color);line-height: 1;}
.section-stats .section-description {max-width: 90%;}



.news-section {--grid-columns: 3;--spacer-2: 40px;padding-bottom: var(--padding-section);}
.news-section .section-description {margin-bottom: 20px}
.news-section .card {position: relative;box-shadow: 0 0 10px #e6e6e6;}
.news-section .card > a{position: relative;display: block;}
.news-section .card-inner {position: absolute;bottom: -20px;background: #ffffffe3;left: -20px;width: 90%;padding: 20px;backdrop-filter: blur(2px);box-shadow: 0 0 10px #0000004d;}
.news-section .card-desc {color: var(--gray-dark);line-height: 1.5}
.news-section .date {background-color: var(--primary-color);padding: 5px 10px;color: white;}
.news-section .card-inner-row {display: flex;align-items: center;justify-content: space-between}
.news-section .card-inner-row .location-tag {color: var(--gray-light)}


.media-cards {display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-template-rows: 1fr 1fr;gap: var(--spacer-2);min-height: 600px;}
/*.media-cards .card:nth-child(2) {grid-column: 2 / 3;grid-row: 1 / 3;}*/
/*.media-cards .card:nth-child(3) {grid-column: 3 / 5;}*/

.media-cards .featured-tall {grid-row: span 2;}
.media-cards .featured-wide {grid-column: span 2;}

.media-cards .card {min-height: 280px;overflow: hidden;transition: 0.4s;position:relative;display: flex;align-items: end;justify-content: center;padding: var(--padding-card);--spacer-1: 5px;}
.media-cards .card:hover {filter: brightness(1);}
.media-cards .card:after{content:"";position: absolute;inset: 0;background: linear-gradient(0deg, #0000006e, transparent);}
.media-cards .card-img {position: absolute;inset: 0;}
.media-cards .card-img img {filter: brightness(0.5);width: 100%;height: 100%;object-fit: cover;transition: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)}
.media-cards .card:hover .card-img img{filter: brightness(1);transform: scale(1.1);}
.media-cards .card-inner {position: relative;z-index: 2;color: white;width: 100%;}
.media-cards .play-button {position: absolute;left: var(--padding-card);top: var(--padding-card);z-index: 1;background-color: var(--primary-color);width: 35px;aspect-ratio: 1;display: flex;align-items: center;justify-content: center;border-radius: 50%;}
.media-cards .card-desc {color: white;}
.media-cards .play-button span[class*="icon-"] {font-size: 1.5rem;width: 15px;height: 15px;display: flex;align-items: center;color: white;}




.partners-section {overflow: hidden;}
.partners-section .logos-wrapper {direction: ltr;overflow: hidden;white-space: nowrap;display: flex;gap: 3rem;align-items: center;}
.partners-section .js-marquee {display: flex;align-items: center;gap: 80px;}
.partners-section .js-marquee-wrapper {display: flex;align-items: center;}
.partners-section .logo img {width: 90px;aspect-ratio: 1 / 1;}
.partners-section .logo {flex-shrink: 0;width: 130px;aspect-ratio: 1;border: 1px solid var(--extra-light-gray);padding: 20px;display: flex;align-items: center;justify-content: center;}



.section-bg {padding-bottom: 0;}
.section-bg .section-bg-inner {position: relative;overflow: hidden;min-height: 350px;display: flex;align-items: center;justify-content: center;}
.section-bg .image {position: absolute;inset: 0;}
.section-bg .section-bg-inner:after {content: "";position: absolute;inset: 0;background: linear-gradient(to right, #017b32 0%, rgba(1, 123, 50, 0.45) 15%, #017b32e8 48%);}
.section-bg .app-wrapper {min-height: 100%;}
.section-bg .section-bg__title {font-size: clamp(2rem,4vw,2.6rem);margin-bottom: var(--spacer-1);}
.section-bg .section-content {position: relative;z-index: 1;text-align: center;color: white;}
.section-bg .section-bg__desc {font-weight: 500;}



.footer {--spacer-1: 4px;}
.footer .footer-wrapper {display: flex;align-items: start;justify-content: space-between;}
.footer .footer-bottom .app-wrapper {display: flex;align-items: center;justify-content: space-between;}
.footer .footer-list__title {color: var(--primary-color);margin-bottom: var(--spacer-1);}
.footer .footer-list .list > * + * {margin-top: var(--spacer-1);}
.footer .list__item a {font-weight: 500;padding-block: 4px;transition: .4s}
.footer .list__item a:hover {color: var(--primary-color);}
.footer .form {display: flex;align-items: center;border: 1px solid var(--gray-light);padding-inline: 8px;margin-block: var(--spacer-2);transition: .4s}
.footer .form input {border: unset;flex: 1;padding: 10px 0;outline: unset;}
.footer .submit {margin-inline-start: auto;display: flex;align-items: center;justify-content: center;width: 30px;height: 30px;background: black;transition: .3s;border: unset;}
.footer .icon-arrow-left {color: white;}
.footer .form:focus-within {border-color: var(--primary-color);box-shadow: 0 0 10px #017b3252;}
.footer .form:focus-within .submit {background-color: var(--primary-color);}
.footer .footer-bottom {display: flex;align-items: center;background-color: var(--primary-color);padding: 10px;color: white;}
.footer .footer-bottom > * {flex: 1}
.footer .footer-socials {display: flex;align-items: center;gap: var(--spacer-2);justify-content: center}
.footer .footer-socials__item a {transition: 0.4s;border: 1px solid rgb(255 255 255 / 20%);width: 35px;aspect-ratio: 1;display: flex;align-items: center;justify-content: center;}
.footer .footer-socials__item a:hover {background-color: white;color: var(--primary-color);}
.footer .footer-tag {display: flex;align-items: center;gap: 10px;justify-content: end}
.footer .copyright-text {direction: ltr;text-align: end}
.footer .footer-top {padding: var(--padding-section) 0;box-shadow: 0 0 10px #0000002b;}







.intro-section .bold {font-weight: 500;}
.intro-section__desc {line-height: 1.6;}
.intro-section .app-wrapper > *  + * {margin-top: var(--spacer-2);}
.intro-section .subtitle {font-size: 2rem;color: var(--primary-color);margin-bottom: var(--spacer-1);}
.intro-section .list > * + * {margin-top: var(--spacer-1);}
.intro-section .list-item:before {content: "";display: block;width: 5px;height: 5px;border-radius: 50%;background: black;}
.intro-section .list-item {display: flex;align-items: baseline;gap: 6px;}

